---
import Layout from '../layouts/Layout.astro';
import SectionHeading from '../components/SectionHeading.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Политика конфиденциальности" isLegal={true}>
  <SectionHeading title="Политика конфиденциальности" centered={false} />
  
  <div class="prose prose-invert max-w-4xl text-white/60 space-y-8 font-medium">
    <p class="text-lg">
      Ваша конфиденциальность очень важна для нас. В этом документе описывается, какие типы персональной информации мы получаем и собираем, когда вы используете наши услуги.
    </p>

    <div class="space-y-4">
      <h3 class="text-2xl font-bold text-white uppercase tracking-tighter">1. Сбор информации</h3>
      <p>
        Мы собираем информацию, когда вы регистрируетесь на сайте, заходите в свой аккаунт, совершаете покупку, участвуете в акции и/или выходите из аккаунта. Данные включают ваше имя, адрес электронной почты, номер телефона и данные по кредитной карте.
      </p>
    </div>

    <div class="space-y-4">
      <h3 class="text-2xl font-bold text-white uppercase tracking-tighter">2. Использование информации</h3>
      <p>
        Вся собранная нами информация может быть использована для того, чтобы:
      </p>
      <ul class="list-disc pl-6 space-y-2">
        <li>Сделать услуги более индивидуальными и отвечать вашим запросам</li>
        <li>Предложить персонализированную рекламу</li>
        <li>Улучшить наш сайт</li>
        <li>Улучшить систему поддержки пользователей</li>
        <li>Связаться с вами по электронной почте</li>
        <li>Провести акцию, опрос или организовать конкурс</li>
      </ul>
    </div>

    <div class="space-y-4">
      <h3 class="text-2xl font-bold text-white uppercase tracking-tighter">3. Защита личных данных</h3>
      <p>
        Мы являемся единственным владельцем информации, собранной на этом сайте. Ваши личные данные не будут проданы или каким-либо образом переданы третьим лицам по каким-либо причинам, за исключением необходимых данных для выполнения запроса или транзакции (например, при отправке заказа).
      </p>
    </div>

    <div class="space-y-4">
      <h3 class="text-2xl font-bold text-white uppercase tracking-tighter">4. Раскрытие информации третьим лицам</h3>
      <p>
        Мы не продаем, не обмениваем и не передаем личные данные сторонним компаниям. Это не относится к надежным компаниям, которые помогают нам в работе сайта и ведении бизнеса при условии, что они соглашаются сохранять конфиденциальность информации.
      </p>
    </div>

    <div class="pt-12 text-sm italic">
      Последнее обновление: 17 марта 2026 г.
    </div>
  </div>
  <Footer />
</Layout>
